---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";
import "../styles/Hero.css";
import "../styles/Sections.css";

import heroImage from "../assets/indexheroimage.png";
import missionImage from "../assets/missionImage.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Purdue University: APEx CubeSat</title>
  </head>

  <body>
    <Header />

    <!-- HERO SECTION -->
    <section class="hero" style={`background-image: url(${heroImage.src});`}>
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <h1>Purdue University:</h1>
		<h1>APEx CubeSat</h1>
        <p>
          Verifying the performance of an ASCENT-propelled pulsed-MPD propulsion system in the
          LEO enviornment in order to advance the dual-mode propulsion concept and utilization of ASCENT propellant.
        </p>
      </div>
    </section>

    <!-- MISSION SUMMARY SECTION -->
    <section class="mission-summary">
      <div class="summary-left">
        <p>
          Why space? Some phenomena affecting system performance cannot be feasibly recreated
          in ground testing. We must verify performance under the effects of microgravity, long-duration thermal cycling/exposure to hard vacuum, chemical
          environment, and other factors. Furthermore, testing the thruster in an actual use case provides
          the most reliable verification of system operation, while minimizing
          opportunities for false positive results.
        </p>
        <p>
          This mission also has potential military relevance. Dual-mode propulsion balances two key mission requirements: responsiveness 
          and mission lifetime. This method of propulsion could prove invaluale for responsive reconnaissance missions and formation flying. 
          We are also furthering the understanding of the ASCENT propellant, and testing an electric propulsion thruster 
          that is both novel, and commerically available.
        </p>
      </div>

      <div class="summary-right">
        <ul>
          <li><strong>Type</strong><br />CubeSat</li>
          <li><strong>Launch</strong><br />TBD</li>
          <li><strong>Target</strong><br />Low Earth Orbit (LEO)</li>
          <li>
            <strong>Objective</strong><br />Verify PMPD and ASCENT
          </li>
        </ul>
      </div>
    </section>

    <!-- DEEP DIVE SECTION -->
    <section class="mission-details">
      <div class="details-left">
        <p>
          Our first mission objective is to operate the PMPD propulsion system for 
          one million pulses in LEO to execute a orbit-raising/loewring maneuver. Minimum success 
          is defined by achieving 30% of ground-tested values in LEO.
        </p>
        <p>
          The second mission objective is to determine the key performance metrics of our PMPD system 
          while in LEO. These metrics include impulse bit, specific impulse, and efficiency of power to thrust conversion. 
          Minimum success is defined by determining these value in LEO with less than 20% uncertainty.
        </p>
        <p>
          The final primary mission objective is to record the propulson system health metrics during the thruster operation. 
          These metrics include average power consumption, propellant injector temperature, propellant tank level, and current/voltage 
          waveforms for the discharge and ignited circiuts. 
        </p>
      </div>

      <div class="details-right">
        <img src={missionImage.src} alt="APEx CubeSat render" />
      </div>
    </section>

    <Footer />
  </body>
</html>
