---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";
import "../styles/Hero.css";
import "../styles/Sections.css";

import heroImage from "../assets/indexheroimage.png";
import missionImage from "../assets/missionImage.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Purdue University: APEx CubeSat</title>
  </head>

  <body>
    <Header />

    <!-- HERO SECTION -->
    <section class="hero" style={`background-image: url(${heroImage.src});`}>
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <h1>Purdue University:</h1>
		<h1>APEx CubeSat</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
      </div>
    </section>

    <!-- MISSION SUMMARY SECTION -->
    <section class="mission-summary">
      <div class="summary-left">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
		  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="summary-right">
        <ul>
          <li><strong>Type</strong><br />CubeSat</li>
          <li><strong>Launch</strong><br />TBD</li>
          <li><strong>Target</strong><br />Low Earth Orbit (LEO)</li>
          <li>
            <strong>Objective</strong><br />Objective Statement
          </li>
        </ul>
      </div>
    </section>

    <!-- DEEP DIVE SECTION -->
    <section class="mission-details">
      <div class="details-left">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
		  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
     	  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="details-right">
        <img src={missionImage.src} alt="APEx CubeSat render" />
      </div>
    </section>

    <Footer />
  </body>
</html>
