---
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>

<footer>
  <p>Visit the legacy website: https://apexsat.space/</p>
  <p>CubeSat GitHub Repository: https://github.com/apexsat/</p>
</footer>